.add-button {
  margin: 5px 10px 10px 10px   
}

.app-card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.links{
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px
}

.nav-link {
  color: #266861
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white;
  background-color: #298F85;
  border-color: #dee2e6;
  margin-bottom: 0px;
  border-radius: 5px;
}

.todos-header {
  font-size: 30px;
  color: white;
  background-color: #266861
}

.input-field {
  margin: 35px 0px 5px 0px  
}

.action {
  float: right;
  padding-right: 15px
}

.red-button {
  float: right
}

.red-button:focus,.red-button:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #dc3545;
}

.red-button:hover {
  background-color: #a8222f;
}

.blue-button:focus,.blue-button:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #0d6efd; 
}

.blue-button {
  background-color: #298F85 !important;
  border-color: #298F85 !important;
}

.blue-button:hover {
  background-color: #266861 !important;
}

.add-margin {
  margin-left:0px;
  margin-right:0px;
}

